.history-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  margin-bottom: 100px;
}

.history-title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.title-area  {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.title-area h1 {
  font-size: 2rem;
  text-decoration: none;
  color: #3f51b5;
  border-radius: 5px;
  padding: 10px;
  height: 35px;
}

.no-order-block {
    height: 40px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #f44336;
}

.no-order-block p {
  padding: 10px;
  background-color: #f4433628;
  border-radius: 10px;
}
