<div class="history-container">
  <div class="history-title-block">
    <div class="title-area">
      <h1>History</h1>
    </div>
    <button
      mat-raised-button
      color="accent"
      (click)="toggleFilter()"
      [matTooltip]="tooltipContent"
      matTooltipPosition="left"
      matTooltipHideDelay="500"
    >
      Filter<mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <div>
    <app-history-filter
      *ngIf="isFilterVisible"
      (onFilter)="applyFilter($event)"
    ></app-history-filter>
    <div *ngIf="noSuchOrder" class="no-order-block">
      <p>Order with number {{ orderNumber }} doesn't exist.</p>
    </div>
    <div *ngIf="filter.order || filter.start" class="applied-filter-block">
      <p>Applied filter: </p>
      <div class="applied-filter">
        {{ filter.order ? "Order number" : "Date range" }}
      </div>
    </div>
    <app-history-table [ordersHistory]="orders"></app-history-table>
    <div>
      <mat-paginator
        #paginator
        (page)="handlePageEvent($event)"
        [length]="orderLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 50]"
        [disabled]="disabled"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
