h1 {
  font-size: 2rem;
}

.category-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1000px;
  margin: auto;
  padding: 40px;
}

.delete-category {
  position: absolute;
  top: -20px;
  right: 20px;
}

.category-title {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.category-title a {
  text-decoration: none;
  color: #3f51b5;
  padding: 10px;
  height: 35px;
}

.category-title h1 {
  height: 35px;
}

.category-title a:hover {
  text-decoration: none;
  background-color: #3f51b52a;
  border-radius: 5px;
  color: white;
}

.category-title mat-icon {
  position: relative;
  top: 4px;
}

.form-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.015);
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  align-items: center;
}

.input-container {
  width: 500px;
}

.image {
  margin: 20px;
  width: 400px;
}

.image img {
  width: 400px;
  border-radius: 10px;
}

.form-btn {
  margin-top: 20px;
}

.expanded-btn {
  width: 180px;
}

.position-card-container {
  margin: 10px 20px;
}

.position-container {
  margin: 20px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1000px;
}

.position-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}

.position-title {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

.position-text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 880px;
  color: #3f51b5;
  font: 1.1rem sans-serif;
  margin-right: 10px;
}

#fileInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-label {
  margin-top: 20px;
  width: 180px;
  height: 36px;
  border-radius: 5px;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-nopositions {
  padding-top: 20px;
  margin: auto;
}
