<div class="category-form-container">
  <button *ngIf="!isNew" mat-fab color="warn" class="delete-category" (click)="deleteCategory()">
    <mat-icon>delete</mat-icon>
  </button>
  <div class="category-title">
    <h1>
      <a routerLink="/categories">
        <span>Categories</span>
      </a>
    </h1>
    <h1>
      <mat-icon>keyboard_arrow_right</mat-icon>
      {{ isNew ? "Add" : "Edit" }} Category
    </h1>
  </div>
  <div class="main-form">
    <form
      class="form-container"
      [formGroup]="categoryForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="inputs">
        <mat-form-field appearance="fill" class="input-container">
          <mat-label>Category name</mat-label>
          <input matInput formControlName="name" required />
          <mat-error
            *ngIf="
              categoryForm.controls['name']?.invalid &&
              categoryForm.controls['name']?.touched
            "
          >
            Please enter Category name
          </mat-error>
        </mat-form-field>

        <input
        (change)="onFileUpload($event)"
          type="file"
          id="fileInput"
          required
          placeholder="Choose file"
          #inputPickFile
        />
        <button
          (click)="inputFileTrigger()"
          type="button"
          mat-raised-button
          color="primary"
          class="form-btn expanded-btn"
        >
          <mat-icon>cloud_upload</mat-icon> Upload file
        </button>

        <button
          mat-raised-button
          color="accent"
          class="form-btn"
          type="submit"
          [disabled]="categoryForm.invalid"
        >
          Save changes
        </button>
      </div>
      <div class="image">
        <img
          *ngIf="imagePreview"
          mat-card-image
          [src]="imagePreview"
          alt="category image"
        />
      </div>
    </form>
  </div>
</div>

<app-position-form [isNew]="isNew"></app-position-form>
