<div class="category-form-container">
  <button mat-fab color="warn" class="delete-category">
    <mat-icon>delete</mat-icon>
  </button>
  <div class="category-title">
    <h1>
      <span>Categories</span><mat-icon>keyboard_arrow_right</mat-icon> Add
      Category
    </h1>
  </div>
  <div class="main-form">
    <form class="form-container">
      <div class="inputs">
        <mat-form-field appearance="fill" class="input-container">
          <mat-label>Input</mat-label>
          <input matInput />
        </mat-form-field>
        <button
          type="file"
          mat-raised-button
          color="primary"
          class="form-btn expanded-btn"
        >
          <mat-icon>cloud_upload</mat-icon> Choose File
        </button>
        <button mat-raised-button color="accent" class="form-btn">
          Save changes
        </button>
      </div>
      <div class="image">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
    </form>
  </div>
</div>
<div class="position-container">
  <div class="position-title">
    <h1>Positions:</h1>
    <button mat-raised-button (click)="openDialog('300ms', '300ms')">Add position</button>
  </div>
  <div *ngIf="positions$ | async as positions; else loader">
    <div *ngIf="positions.length; else noPositions">
      <mat-card
        class="position-card-container"
        *ngFor="let position of positions"
      >
        <mat-card-content class="position-card"><div class="position-text-content"><span>{{ position.name }}</span> <b>{{ position.cost }}$</b></div>
          <button mat-icon-button>
            <mat-icon color="primary">delete</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <ng-template #loader>
    <mat-spinner class="loader"></mat-spinner>
  </ng-template>
  <ng-template #noPositions>
    <p>There is no positions yet...</p>
  </ng-template>
</div>
