h1 {
  font-size: 2rem;
}

.category-form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.delete-category {
  position: absolute;
  top: 50px;
  right: 150px;
}

.category-title mat-icon {
  position: relative;
  top: 5px;
}

.form-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.015);
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  align-items: center;
}

.input-container {
  width: 500px;
}

.image {
  margin: 20px;
}

.image img {
  height: 300px;
  border-radius: 10px;
}

.form-btn {
  margin-top: 20px;
}

.expanded-btn {
  width: 180px;
}

.position-card-container {
  margin: 10px 20px;
}

.position-container {
  margin: 20px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1000px;
}

.position-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}

.position-title {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

.position-text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 880px;
  color: #3f51b5;
  font: 1.1rem sans-serif;
}
