<form [formGroup]="formFilter" (ngSubmit)="onSubmitFilter()">
  <div class="inputs-container">
    <mat-form-field class="order-number-input">
      <mat-label>Enter order number</mat-label>
      <input matInput placeholder="Order number" formControlName="order" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input
        [rangePicker]="picker"
        [disabled]="!!formFilter.value.order"
      >
        <input
          matStartDate
          formControlName="start"
          placeholder="Start date"
        />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div class="errors-area">
      <div class="order-errors">
        <mat-error *ngIf="formFilter.controls['order'].hasError('pattern')"
          >Only numbers are allowed.</mat-error
        >
        <mat-error *ngIf="formFilter.controls['order'].hasError('min')"
          >Digits lower than 1 is not allowed.</mat-error
        >
      </div>
      <div class="date-errors">
        <mat-error
          *ngIf="
            formFilter.controls['start'].hasError('matStartDateInvalid') ||
            formFilter.controls['start'].hasError('matDatepickerParse')
          "
          >Invalid start date</mat-error
        >
        <mat-error
          *ngIf="
            formFilter.controls['end'].hasError('matEndDateInvalid') ||
            formFilter.controls['end'].hasError('matDatepickerParse')
          "
          >Invalid end date</mat-error
        >
      </div>
    </div>
  </div>
  <div class="btn-area">
    <button
      #applyButton
      mat-raised-button
      type="submit"
      [ngClass]="{
        'applied': filterApplied,
        'primary': !filterApplied
      }"
      [disabled]="
        formFilter.invalid ||
        !(
          formFilter.value.order ||
          (formFilter.value.start && formFilter.value.end)
        )
      "
    >
      <mat-icon>sort</mat-icon>Apply filter
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="clearForm()"
    >
      Clear filters
    </button>
  </div>
</form>
