<div class="analytics-container">
  <div class="title-area">
    <h1>
      Analytics
      <mat-icon
        class="icon"
        matTooltip="On this page you can explore the analytics."
        matTooltipPosition="after"
        >info</mat-icon
      >
    </h1>
  </div>

  <div class="main" [style.display]="pending ? 'none' : 'block'">
    <div class="average">
      <h3>Average receipt: {{ average | currency }}</h3>
    </div>
    <div id="chartContainer" style="height: 400px; min-width: 100%;"></div>
  </div>
</div>
<div class="loader" *ngIf="pending">
  <mat-spinner></mat-spinner>
</div>
