.auth-page-container {
  margin: auto;
  position: fixed;
  left: calc(50% - 250px);
}

.form-auth-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-auth-container:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
}

.input-container {
  width: 400px;
}

.form-title {
  font-size: 2rem;
  color: #ff4081;
  position: absolute;
  top: 80px;
}

.btn-submit {
  position: absolute;
  bottom: 80px;
}
