<div class="example-container auth-page-container">
  <form class="form-auth-container" [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <h1 class="form-title">Please, sign in:</h1>
    <mat-form-field appearance="fill" class="input-container">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="name@example.com"
        formControlName="email"
        required
      />
      <mat-error *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched">{{
        errorHandler('email')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="true" class="input-container">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        type="password"
        formControlName="password"
        required
        minlength="6"
        maxlength="56"
      >
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">{{
        errorHandler('password')
      }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn-submit" type="submit" disabled="{{loginForm.invalid}}">Sign in</button>
  </form>
</div>
