<div class="category-list-container">
  <mat-toolbar class="title-area">
    <h1>Categories </h1>
    <span class="category-title-spacer"></span>
    <button
      routerLink="/categories/new"
      mat-mini-fab
      color="accent"
      #tooltip="matTooltip"
      matTooltip="Add category"
      matTooltipPosition="left"
      matTooltipHideDelay="2000"
    >
      <mat-icon>adds</mat-icon>
    </button>
  </mat-toolbar>
  <div *ngIf="categories$ | async as categories; else loader">
    <div *ngIf="categories.length; else noCategories">
      <mat-card
        class="category-card"
        *ngFor="let category of categories"
        routerLink="/categories/{{ category._id }}"
      >
        <mat-card-content>{{ category.name }}</mat-card-content>
      </mat-card>
    </div>
  </div>
  <ng-template #loader>
    <mat-spinner class="loader"></mat-spinner>
  </ng-template>
  <ng-template #noCategories>
    <p>There is no categories yet...</p>
  </ng-template>
</div>
