.category-list-container {
  max-width: 1000px;
  margin: auto;
}

.category-title-spacer {
  flex: 1 1 auto;
}

mat-card-content:hover {
  background-color: #ff40802f;
}

.category-card {
  margin-top: 5px;
  text-align: center;
  color: #3f51b5;
  font-size: larger;
  font-weight: 500;
}

.loader {
  width: 200px;
  height: 200px;
}

.title-area h1 {
  font-size: 2rem;
  text-decoration: none;
  color: #3f51b5;
  border-radius: 5px;
  padding: 10px;
  height: 35px;
}

.mat-toolbar {
  background-color: transparent;
}
